<!-- <input type="text" #output [value]="inputvalue"> -->
<!-- <input type="text" [(ngModel)]="inputvalue">

 <button (click)="onbtnclick()" >Click Me</button>

 <div>
    {{inputvalue}}
</div>  -->
 <ul>
  <li *ngFor="let user of listvalue">
<p>{{user.name}}</p>
<p>{{user.age}}</p>
  </li>
 </ul>



<h2>Employee Management System</h2>
<!-- <div>
  <button [ngClass]="{'active':choosevalue === 'listvalue'}"(click)="selectedvalue('listvalue')">Home</button>


  <button [ngClass]="{'active':choosevalue === 'addemployee'}"(click)="selectedvalue('addemployee')">Add Employee</button>
</div> -->


