<h2>Employee Management System</h2>

<h2>{{counter}}</h2>
<!-- <div>
  <button [ngClass]="{'active':choosevalue === 'listvalue'}"(click)="selectedvalue('listvalue')">Home</button>


  <button [ngClass]="{'active':choosevalue === 'addemployee'}"(click)="selectedvalue('addemployee')">Add Employee</button>
</div> -->


<div *ngFor="let list of movieList let i = index">
  {{list}}
  <button [ngClass]="{'active':activeindex === i}"(click)="onbuttonclick(i)">{{list}}</button>


  
<!-- </div>

<div *ngIf="choosevalue === 'addemployee'">
    <h2>Add Employee</h2>
    <p>
 Title: <input type="text" [(ngModel)]="newMovieList.title">
 
</p>
<p>
Actor: <input type="text" [(ngModel)]="newMovieList.actor" (keyup.enter)="addemployee()">
</p>
</div>
<div *ngIf="choosevalue ==='listvalue'">
  
<table>
  <thead>
<tr>
  <th>Title</th>
  <th>Actor</th>
  <th></th>
</tr>
</thead>
  <tbody>
<tr *ngFor="let movie of movieList let i = index" [ngClass]="{'selectvalue':movie.selected}">
  <td>
{{movie.title}}
  </td>
  <td>
      {{movie.actor}}
  </td>
  <td>
      <button (click)="selectedmovie(movie)">View</button>
      
  </td>
  <td>
    <button (click)="deletemovie(i)">Delete</button>
    
</td>
</tr>
  </tbody>
</table>
</div> -->

<!-- <div *ngIf="selectedmovie1 ">
<h2>Selected Movie</h2>
<p>Title:{{selectedmovie1.title}}</p>
<p>Actor:{{selectedmovie1.actor}}</p>
</div> -->


